# CLI processor
Click==8.1.3

# our fork of pelican that supports 3.9
git+https://github.com/ACED-IDP/pelican.git@chore/python-version
# to test:
# python3 -c "from pelican.dictionary import init_dictionary, DataDictionaryTraversal; print('ok')"

# postgres
psycopg2

# fhirclient
-e git+https://github.com/bmeg/client-py.git@25d9506696beb212d173b70788c1bcf10e30e9c9#egg=fhirclientr4e

# pluralization
inflection

PyYAML==6.0

pydantic